body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:

        "nav nav nav nav"
        "header header header header"
        "main main main main"
        "aside aside aside aside"
        "footer footer footer footer";
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li a {
    color: white;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}

nav li {
    display: inline-block;
}

header {
    padding-top: 1em;
    grid-area: header;
}

main {
    padding-top: 1em;
    grid-area: main;
    padding-bottom: 2em;
}

aside {
    grid-area: aside;
}

nav {
    grid-area: nav;
    padding: 1em;
}

footer {
    grid-area: footer;
}

.main-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "img img text text";
}

main h3 {
    padding-top: 1em;
}

.main-image {
    padding-top: 2em;
    grid-area: img;
}

.main-text {
    padding-top: 0.5em;
    grid-area: text;
}

main h2 {
    font-size: 30px;
}

aside h2 {
    font-size: 100px;
}

aside p {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.denis {
    height: 300px;
    width: auto;
    border-radius: 250px 750px 250px 750px;
    animation: wobble 15s ease-in-out alternate infinite;
}

.languages {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-area: 
    "flag flag"
    "flag flag";
}

.imgflag {
    height: 50px;
    width: auto;
}