* {
    padding: 0;
    margin: 0;
}

footer {
    background-color: black;
}

body {
    color: white;
    background: linear-gradient(227deg, #000000, #ff0707,#120994, #8711c4);
    background-size: 240% 240%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

nav li {
    text-decoration: none;
}

aside {
    text-align: center;
    width: 100%;
    background: linear-gradient(102deg, #000000, #5c0101, rgb(0, 0, 0));
    background-size: 240% 240%;
    animation: gradient-animation 10s ease infinite;
}

main {
    text-align: center;
}

.donate {
    padding: 2em;
}

header {
    border-bottom: 4px solid #120994;
    text-align: center;
    background: linear-gradient(227deg, #ff0707, #000000, #120994,  #8711c4);
    background-size: 240% 240%;
    animation: gradient-animation 10s ease infinite;
    padding: 1em;
}

nav {
    background-color: #000000;
}

main p {
    padding: 1em;
}

.denis {
    height: 300px;
    width: auto;
    border-radius: 250px 750px 250px 750px;
    animation: squishy 15s ease-in-out alternate infinite;
}

@keyframes squishy {
    50% {
      border-radius: 750px 550px 350px 750px
    }
    100% {
      border-radius: 750px 250px 750px 250px 
    }
}

aside h2 {
    padding-top: 1em;
}

.main-text i {
    color:#120994;
    font-style: normal;
}

main h2 {
    color: rgb(255, 255, 255);
    padding: 1em;
}

nav a:hover {
    color:  #ff0707;
 }

 .denis:hover {
    height: 300px;
    width: auto;
    border-radius: 250px 750px 250px 750px;
    animation: squishy 0.4s ease-in-out alternate infinite;
}

.denis2 {
    height: 300px;
    width: auto;
    border-radius: 250px 750px 250px 750px;
    animation: wobble 15s ease-in-out alternate infinite;
}

.media{
    height: 30px;
    width: auto;
}

.mini {
    height: 30px;
    width: auto;
}